:root {
  --primary-colour: #00c;
  --secondary-colour: #555;
  --inverse-colour: #fff;
  --container-max-width: 40rem;
  --nav-font-size: 1rem;
  --nav-tab-vertical-padding: 0.75rem;
  --nav-tab-horizontal-padding: 1.25rem;
  --nav-tab-gap: 0.25rem;
  --nav-tab-radius-amount: 0.5rem;
  --nav-active-font-size: 1.25rem;
  --nav-active-tab-vertical-padding: 1rem;
  --nav-active-tab-horizontal-padding: 2rem;
  --article-padding: 1rem;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation__list--menu {
  max-width: var(--container-max-width);
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.navigation__list_item a {
  text-decoration: none;
  color: var(--inverse-colour);
}

.navigation__list--menu > li {
}

.navigation__list_item {
  flex-grow: 1;
  border-radius: var(--nav-tab-radius-amount);
  background-color: var(--secondary-colour);
  margin-inline-start: var(--nav-tab-gap);
  margin-inline-end: var(--nav-tab-gap);
  padding-inline-start: var(--nav-tab-horizontal-padding);
  padding-inline-end: var(--nav-tab-horizontal-padding);
  padding-block-start: var(--nav-tab-vertical-padding);
  padding-block-end: var(--nav-tab-vertical-padding);
}

.navigation__list_item--inactive {
  font-size: var(--nav-font-size);
}

.navigation__list_item--active {

}

.navigation__list_item--active:active {
  font-size: var(--nav-active-font-size);
  background-color: var(--primary-colour);
  padding-inline-start: var(--nav-active-tab-vertical-padding);
  padding-inline-end: var(--nav-active-tab-vertical-padding);
  padding-block-start: var(--nav-active-tab-horizontal-padding);
  padding-block-end: var(--nav-active-tab-horizontal-padding);
}

.navigation__active__info {
  max-width: var(--container-max-width);
  background-color: var(--primary-colour);
  padding: var(--article-padding);
  color: var(--inverse-colour);
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-block-end: 0;
}

.navigation__active--heading {

}

navigation__active--description {
padding: var(--article-padding);
}
