@charset "HTF-8";
body {
  table-layout: fixed;
  width: 550px;
  border: 1px solid;
  display: table-cell;
}
section {
  display: table;
  border-spacing: 10px;
}
h2 {
display: table-cell;
vertical-align: middle;
padding-left: 120px;
}
footer {
  display: inline-table;
}
