@charset "HTF-8";
body {
  table-layout: auto;
  width: 800px;
  border: 1px solid;
  display: table;
}
section {
  display: table-row;
  table-layout: auto;
  border-spacing: 16px;
}
h2 {
display: table-cell;
vertical-align: middle;
table-layout: auto;
padding-left: 120px;
}
footer {
  display: inline-table;
}
