/* Set up */
.button {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1;
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgb(191,0,0);
  color: rgb(255,255,255);
  border-radius: 0.5rem;
}

/* 10 */
[data-example="10"] .button {
  position: relative;
  width: 70%;
}
[data-example="10"] span:before {
  content: url(../images/icon_heart.svg);
  position: absolute;
  padding-left: 3rem;
  left: 0;
  top: 1;
  width: 1rem;
}
/* 11 */
[data-example="11"] .button {
  background-image: url(../images/icon_heart.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: left;
}
[data-example="11"] span {
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
}
/* 12 */
[data-example="12"] img {
  width: 1rem;
}
[data-example="12"] .button {
  width: 50%;
}
