:root {
  --cell-color: rgb(63, 63, 63);
  --height: 20px;
  --width: calc(var(--height) * 10px);
  --transition: background-color 1s;
  --font-size: 10px;
  --top: 0;
  --counter-item: item;
}

#dry .grid {
  display: inline-grid;
  grid-template-columns: repeat(10, 20px);
}

#dry a {
  display: block;
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: var(--cell-color);
  transition: var(--transition);
  counter-increment: var(--counter-item);
}

#dry a:hover {
  background-color: var(--cell-color);
}

#dry a::before {
  content: counter(var(--counter-item));
  position: absolute;
  top: var(--top);
  left: var(--top);
  width: var(--width);
  text-align: center;
  font-size: var(--font-size);
  line-height: var(--width);
  font-weight: 700;
  color: var(--cell-color);
  transition: var(--transition);
}

#dry a:hover::before {
  color: rgb(255, 255, 255);
}
