nav.breadcrumb {
  padding: 15px 20px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
nav.breadcrumb > ol li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb > ol > li+li:before {
  padding: 8px;
  content: "➤";
}

/* Add a color to all links inside the list */
.breadcrumb > ol > li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb > ol > li a:hover {
  text-decoration: none;
}
