/* Decorative links that look like buttons
@import "buttons.css";*/
a[href="/lost_in_madagascar/jesse/Older_post"] {
  background-color: blue;
  color: white;
  margin-inline-start: 19rem;
  font-size: 2rem;
  text-decoration: none;
  position: absolute;
  border: solid 67.5px;
}
