/* The site name and layout for the header
@import "header.css";*/
/* background-image: linear-gradient(0deg, rgba(0, 0, 0,.5)0, rgba(0, 0, 0,.5) 100%), url(../images/bg_desktop.jpg);
  color: white;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-block-start: 14rem;
  padding-block-end: 14rem;
  background-position: center center;*/
div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: gainsboro;
  display: inline-block;
  width: 1000px;
  height: 550px;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(0, 0, 0,.5)0, rgba(0, 0, 0,.5) 100%), url(../images/bg_desktop.jpg);
  background-size: 100%;
  margin: 0rem;
  margin-top: -7rem;
}
header h1 a[href="/lost_in_madagascar"] {
  color: white;
  text-decoration: none;
  margin: 6rem;
  position: absolute;
}
div h2 {
  background-position: center;
  text-align: center;
  color: white;
  text-decoration: 100px;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}
div h2 ~ small{
  background-position: center;
  text-align: center;
  color: white;
  box-sizing: border-box;
  margin-right: 24rem;
}
