/* The handling of links for the site nav
@import "nav.css";*/

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  color: white;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
}
#nav-1 {
  text-align: right;
  margin-right: 2rem;
  margin-top: 9rem;
}
