article {
  display: block;
  margin: 5rem;
}

ol {
  margin: 12rem;
  margin-top: -1rem;
}
h3.h3 {
  display: block;
  border-top: solid 1px;
}

.li-1 {
  display: inline;
 text-align: center;
 list-style-type: none;
}
.li-2 {
  display: inline;
  text-align: center;
  list-style-type: none;
}
a[href="/lost_in_madagascar/jesse"] {
color: black;
}
a [href="/lost_in_madagscar/jesse"] {
  color: black;
}
