article {
  display: block;
  margin: 5rem;
  list-style-type: none;
}

ol li h3{
  font-size: 2rem;
}
ol {
  margin: 8rem;
  margin-top: -1rem;
}
h3.h3 {
  display: block;
  border-top: solid 1px;
}

.li-1 {
  display: block;
 text-align: center;
 list-style-type: none;
}
.li-2 {
  display: inline;
  text-align: center;
  list-style-type: none;
}
a[href="/lost_in_madagascar/jesse"], a [href="/lost_in_madagscar/jesse"] {
  color: black;
}
b {
  color: black;
  list-style-type: none;
}
