/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        1.1.a. List item `<li>`
        1.1.b. List item (with a List) `<li>` with a `<ol>` child
          1.1.b.i. Nested list item `<li>`
          1.1.b.ii. Nested list item `<li>`
          1.1.b.iii. Nested list item `<li>`
          1.1.b.iv. Nested list item `<li>`
          …
        1.1.c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/

/*html {
  display: block;
  width: 80rem;
}

body {
  counter-reset: section;
  font-size: 1.5rem;
  line-height: 2rem;
}
h1 {
  visibility: hidden;
}
article > header {
  font-size: 2rem;
}

 section {
  display: inline-block;
  margin: 0rem;
  margin-left: 32rem;
  margin-top: -2rem;
}

h3 {
  counter-reset: subsection;
  font-size: 2.53rem;
}
h3::before {
  content: counter(section)".\0000a0\0000a0";
  counter-increment: section;
}

h4:before {
  content: counter(section)"." counter(subsection)".";
  counter-increment: subsection;
}
ol {
  list-style-type: lower-latin;
  padding: 1rem;
}

ol > li > ol {
  list-style-type: lower-roman;
  padding: 1rem;
}*/
section > h3 > h4 > ol > li::before{
  display: inline-list-item;
  counter-reset: subsection;
  content: counter(major-clause)"." counter(clause)"." counter(list)".";
  counter-increment: subsection;
  list-style-position: outside;
  list-style-type: lower-latin;
}
