@charset "UTF-8";

.example > * {
  margin-block-end: 1em;
}

.example p {
  font-weight: 400;
  font-size: 1rem;
}

.example h2,
.example h3,
.example h4,
.example h5,
.example h6 {
  font-weight: 700;
}

.example h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.example h2 {
  font-size: 2rem;
  font-weight: 700;
}

.example h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.example h4 {
  font-size: 1.25rem;
  font-weight: 700;
}
.example h5 {
  font-size: 1rem;
  font-weight: 700;
}
.example h6 {
  font-size: 1rem;
  font-weight: 700;
  font-variant-ligatures: small-caps;
}

p.intro {
  font-size: 1.125rem;
  font-weight: 400;
  margin-block-end: 1em;
  letter-spacing: 0.1em;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-block-end: 1em;
}

.example p small {
  font-size: 0.75;
  font-weight: 400;
  margin-block-end: 1em;
}

#section_sans_serif {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: cursive;
}

#section_serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#section_monospace {
  font-family: 'Courier New', Courier, monospace
}
