@charset "HTF-8";

nav li {
  visibility: hidden;
}
nav li:first-child {
  visibility: visible;
}

[data-bg-color="yellow"],
 [data-bg-color="blue"],
td span,
tr:nth-of-type(2){
display: none;
}

span {
opacity: 0.5;
}
