section.flex-row.no-extra-width.no-extra-height div:nth-of-type(2) {
  flex-wrap: wrap;
  flex-direction: row;
}

section.flex-row.no-extra-width.no-extra-height div.circle {
background-color: mediumblue;
clip-path: circle(50% at 48% 51%);
padding: 50px;
font-size: 0px;
}
section.flex-row.no-extra-width.no-extra-height div.pipe {
  flex: 10rem;
  display: flex;
  background-color: red;
  justify-content: space-evenly;
}
section.flex-row.ample-height.ample-width .circle{
  display: flex;
  flex-grow: 1;
}
section.flex-row.ample-height.ample-width .pipe {
  display: flex;
  flex-grow: 2;
}
section.flex-row.ample-height.ample-width .bar {
  display: flex;
  flex-grow: 2;
}
section.flex-row.ample-height.ample-width .rect {
  display: flex;
  flex-grow: 1;
}
section:nth-of-type(3) div.circle {
background-color: mediumblue;
clip-path: circle(50% at 48% 51%);
padding: 50px;
font-size: 0px;
}
section:nth-of-type(3) div.pipe {
  color: red;
  background-color: red;

}
